<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="./startbootstrap-landing-page-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="./startbootstrap-landing-page-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="./startbootstrap-landing-page-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="./startbootstrap-landing-page-gh-pages/css/landing-page.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./src/app/app.component.css"> 
  </head>
  
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <img class="lazy-loaded" alt="LinkedIn" src="./src/images/linkedin.png">
        <form action="" method="post">

          <label hidden for="email">Correo electrónico:</label>
          <input type="text" name="session_mail" class="login-email" autocapitalize="off" tabindex="1" id="login-email" placeholder="Correo electrónico" autofocus="autofocus" required>

          <label hidden for="password">Contraseña:</label>
          <input type="password" name="session_password" class="login-password" autocapitalize="off" tabindex="1"  id="login-password" placeholder="Contraseña" autofocus="autofocus" required>
          
          <button type="button" class="btn btn-outline-light">Inicia sesión</button>

          <a href="#">¿Has olvidado tu contraseña?</a>

        </form>
        
      </div>
    </nav>

    <!-- Masthead -->
    <header>
      <div class="overlay"></div>
      <div class="container" > 
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

            <form action="action_page.php">
              <div class="container2" >
                
                <h1 class="title">Destaca en lo que haces</h1>
                <h1 class="subtitle">Comienza. ¡Es gratis!</h1>
                
                <section class="form-body">
                  <label for="Nombre"> <b>Nombre</b></label>
                  <input type="textregister" name="nombre" required>

                  <label for="Apellidos"> <b>Apellidos</b></label>
                  <input type="textregister" name="apellidos" required>
              
                  <label for="email"><b>Correo electrónic</b></label>
                  <input type="textregister" name="email" required>
              
                  <label for="psw"><b>Contraseña (6 o más caracteres)</b></label>
                  <input type="passwordregister" name="psw" required>
              
                  <p>Al hacer clic en unirte, aceptas las <a href="#">Condiciones de uso</a>, 
                    la <a href="#">Política de privacidad</a> y la 
                    <a href="#">Política de cookies de Linkedin</a>.</p>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Únete ahora</button>

                </section>

              </div>
            </form> 
          </div>
        </div> 
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="./startbootstrap-landing-page-gh-pages/startbootstrap-landing-page-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="./startbootstrap-landing-page-gh-pages/startbootstrap-landing-page-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

