<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container" 
      xmlns:th="http://www.thymeleaf.org">
    <a href="feed" class="logo_to_main">
      <img src="/resources/images/logo.png" />
    </a>
    <p class="icon-bar">
        <a th:href="@{/feed}">
          <p id="home_image"></p>
        </a>
        <a th:href="@{/#}">
          <p id="network_image"></p>
        </a>
        <a th:href="@{/#}">
          <p id="jobs_image"></p>
        </a>
        <a th:href="@{/#}">
          <p id="messages_image"></p>
        </a>
        <a th:href="@{/#}">
          <p id="spam_image"></p>
        </a>
      </p>
  </div>
</nav>