<head>
  <link rel="stylesheet" href="/resources/css/nabvar.css"> 
 </head>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container" 
      xmlns:th="http://www.thymeleaf.org">
    <a href="feed" class="logo_to_main">
      <img src="/resources/images/logo.png" />
    </a>
    <div class="icon-bar"
        <a th:href="@{/}">Home</a>

        | &nbsp;
    
        <a th:href="@{/#}">Mi red</a>
    
        | &nbsp;
    
        <a th:href="@{/#}">Empleos</a>
        
        | &nbsp;
        
        <a th:href="@{/#}">Mensajes</a>

        | &nbsp;
        
        <a th:href="@{/#}">Notificaciones</a>
    </div>
  </div>
</nav>