<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title th:utext="${title}"></title>

        <!-- Bootstrap core CSS -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/css/landing-page.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/resources/css/navbar.css"> 
   </head>

<body>
    <!-- Include _navbar.html -->
    <script type='text/javascript' src='/resources/js/navbar.js'></script>
    <script type="text/javascript">
      window.onload = function() {
          home();
      };
    </script>
    <th:block th:include="_navbar"></th:block>
</body>