<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

		<link rel="stylesheet" href="/resources/css/mainPage.css">
   </head>

	<body>
		<header>
			<th:block th:include="_navbar"></th:block>

			<!--PROFILE SUMMARY-->
			<div class="col-md-4 mt-4">
				<div class="container">
					<div class="card profile-card-4">
						<div class="card-img-block">
							<img class="img-fluid" src="https://previews.123rf.com/images/foodandmore/foodandmore1403/foodandmore140300067/26700838-frontera-n%C3%A1utica-delicado-con-la-red-de-pesca-conchas-de-mar-y-estrellas-de-mar-sobre-un-fondo-de-colo.jpg" alt="Card image cap">
						</div>
						<div class="card-body pt-5">
							<img src="https://randomuser.me/api/portraits/women/14.jpg" alt="profile-image" class="profile"/>
							<h5 class="card-title text-center">User Name</h5>
							<p class="card-text text-center">job/studies</p>
						</div>
						<div class="card-body1">
							<p>Contactos</p>
							<p>Amplía tu red</p>
						</div>
						<div class="card-body2">
							<p class="card-text text-center">Accede a información y herraminetas exclusivas</p>
						</div>
					</div>
				</div>
    		</div>
		</header>
	</body>