<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="/resources/css/user.css">
   </head>

	<body>
		<header>
			<th:block th:include="_navbar"></th:block>
        </header>
        
        <div class="container container1">
            <div class="container container2">
                <div class="container container3">
                    <img class="image-portada" src="https://previews.123rf.com/images/foodandmore/foodandmore1403/foodandmore140300067/26700838-frontera-n%C3%A1utica-delicado-con-la-red-de-pesca-conchas-de-mar-y-estrellas-de-mar-sobre-un-fondo-de-colo.jpg"/>
                    <img class="image-perfil" src="https://randomuser.me/api/portraits/women/14.jpg"/>
                    <!--
                    <div class="fb-profile">
                        <img aclass="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
                        <img class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
                        <div class="fb-profile-text">
                            <h1>Eli Macy</h1>
                            <p>Girls just wanna go fun.</p>
                        </div>
                    </div>
                -->

                </div> 
            </div>
        </div>
	</body>
</html>

