<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title th:utext="${title}"></title>

        <!-- Bootstrap core CSS -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="/resources/css/startbootstrap-landing-page-gh-pages/css/landing-page.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/resources/css/welcomePage.css"> 
        
        <!--  Add JS -->
        <script type="application/script" src="./lib/generatorJson.js"></script>
        <script type="application/script" src="/app/user.service.js"></script>
        <script type="application/script" src="/app/general.controller.js"></script>
   </head>

   <body>

        <!-- Navigation -->
        <nav class="navbar navbar-light bg-light static-top">
          <div class="container">
            <img class="lazy-loaded" alt="LinkedIn" src="/resources/images/linkedin.png">
            <form action="" method="POST">
    
              <label hidden for="email">Correo electrónico:</label>
              <input type="text" name="session_mail" class="login-email" autocapitalize="off" tabindex="1" id="login-email" placeholder="Correo electrónico" autofocus="autofocus" required>
    
              <label hidden for="password">Contraseña:</label>
              <input type="password" name="session_password" class="login-password" autocapitalize="off" tabindex="1"  id="login-password" placeholder="Contraseña" autofocus="autofocus" required>
              
              <button type="submit" class="btn btn-outline-light">Inicia sesión</button>
    
              <a href="#">¿Has olvidado tu contraseña?</a>
    
            </form>
            
          </div>
        </nav>
    
        <!-- Masthead -->
        <header>
          <div class="overlay"></div>
          <div class="container" > 
            <div class="row">
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
    
                <form id="register1" action="/register" method="POST">
                  <div class="container2" >
                    
                    <h1 class="title">Destaca en lo que haces</h1>
                    <h1 class="subtitle">Comienza. ¡Es gratis!</h1>
                    
                    <section class="form-body">
                      <label for="Nombre"> <b>Nombre</b></label>
                      <input type="textregister" id="firstName" name="firstName" required>
    
                      <label for="Apellidos"> <b>Apellidos</b></label>
                      <input type="textregister" id="secondName" name="secondName" required>
                  
                      <label for="email"><b>Correo electrónic</b></label>
                      <input type="textregister" id="email" name="email" required>
                  
                      <label for="psw"><b>Contraseña (6 o más caracteres)</b></label>
                      <input type="password" id="password"  name="password" required>
                  
                      <p>Al hacer clic en unirte, aceptas las <a href="#">Condiciones de uso</a>, 
                        la <a href="#">Política de privacidad</a> y la 
                        <a href="#">Política de cookies de Linkedin</a>.</p>
                      
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Únete ahora</button>
    
                    </section>
    
                  </div>
                </form> 
                <pre hidden id="output"> </pre>
              </div>
            </div> 
          </div>
        </header>
        <!-- Footer -->
        <footer class="footer bg-light">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                    <a href="#">About</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Contact</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                  </li>
                  <li class="list-inline-item">&sdot;</li>
                  <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                  </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </footer>
     </body>
</html>


<script>
(function() {
	function toJSONString ( form ){
		var obj = {};
		var elements = form.querySelectorAll("input, select, textarea" );
	
		for (var i = 0; i < elements.length; ++i ){
			var element = elements[i]
			var name = element.name;
			var value = element.value;
			
			if (name ) {
				obj[name] = value;
			}
		}
		console.log(JSON.stringify(obj));
		return JSON.stringify(obj);
		
	}
	
	document.addEventListener( "DOMContentLoaded", function() {
		var form = document.getElementById("register1");
		var output = document.getElementById("output");
		
		form.addEventListener("submit", function(e){
			e.preventDefault();
			var json = toJSONString(this);
			output.innerHTML = json
		}, false);
	});
})();

</script>

