/*Profile card 4*/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*
.wrapper { position: relative; }
*/

.container_gran{
    position: relative;
    width: 100%;
    height:100%;
    margin-left: 25px;
}

.container_mitja{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 80px;
}

.container_perfil{
    position: relative;
    height: 480px;
    width: 800px;

    left: -135px;
    border: 1px solid rgb(196, 196, 196);
    
    box-shadow: 0px 15px 10px -15px #111;
}



.container_educacio{
    position: relative;
    height: auto;
    width: 800px;
    left: -135px;
    border: 1px solid rgb(196, 196, 196);
    box-shadow: 0px 15px 10px -15px #111;
    margin-bottom: 50px;
}

.header_container_educacio {
	position: relative;
	width: 800px;
    margin-top: 15px;
    height: auto;
	
}

.text_header_container_educacio {
	position: relative;
	width: 300px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    height: 50px;
	
}

.btn_add {
    background-color: Transparent;
    color: Grey;
    font-size: 20px;
    margin-top: 10px;
}

.education {
	 height: auto;
}

.img-logo-education, .img-logo-experience {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
}

.info_education, .info_experience {
	position: relative;
	height: auto;
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 10px; 
}

.name-education, .name_job {
    font-weight: 600;
    margin-bottom: 5px; 
}

.grade-education, .name_business {
	margin-bottom: 5px; 
}
.activity-education{
	margin-bottom: 5px; 
}

.info_education2 {
	margin-bottom: 5px; 
	font-size: 14px;
    font-weight: 300;
    color: Grey;
    margin-bottom: 5px;
}