<link rel="stylesheet" href="/resources/css/popups.css">

<!-- The Modal -->
<div id="experience-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<div class="top-header">
  		<div class="top-title">
  			<a class="text-title">Experiencia</a>
  		</div>
  		<button class="close-button" onclick="closeExperience()">&times;</button>
	</div>
  	<div class="profile-card">
  		<div class="form-group full-form">
		    <label for="company_name">Empresa <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="company_name" placeholder="P. ej. Microsoft" required>
  		</div>
  		<div class="form-group full-form">
		    <label for="exp-beginYear">Ano de inicio <a class="asterisc">*</a></label>
  			<input type="number" class="form-control" id="exp-beginYear" placeholder="Ano" required>
  		</div>
		<div class="form-group full-form">
		    <label for="exp-title">Titulo <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="exp-title" placeholder="P. ej. gerente" required>
  		</div>
	</div>
	<div class="bottom-footer">
		<button type="button" class="btn btn-primary store-button" onclick="storeExperience()">Guardar</button>
	</div>
  </div>
</div>

<script>
	//Get the modal
	var experience_modal = document.getElementById('experience-modal');
	
	// When the user clicks on the button, open the modal 
	function closeExperience() {
	    experience_modal.style.display = "none";
	}
	
	function showExperience() {
		profile_modal.style.display = "none";
		experience_modal.style.display = "block";
	}
	
	// When the user clicks on <span> (x), close the modal
	function openExperience() {
	    experience_modal.style.display = "block";
	}
	
	function storeExperience() {
		
		var experience_obj = {};

		var inputCompany = document.getElementById('company_name');
		var inputYear = document.getElementById('exp-beginYear');
		var inputPosition = document.getElementById('exp-title');
		
		experience_obj["company_Name"] = inputCompany.value;
		experience_obj["beginYear"] = inputYear.value;
		experience_obj["title"] = inputPosition.value;
		
		var experience_json = JSON.stringify(experience_obj);
		console.log(experience_json);
		
		$.ajax({
			  url:"/users/addJobExperience",
			  type:"POST",
			  data:experience_json,
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function(){
					$.post("/users/addJobExperience ", experience_json, function(data, status) {
						alert("Data: " + data + "\nStatus: " + status);
					});
					experience_modal.style.display = "none";
				    location.reload();
			  }
			})
	}
</script>
