<link rel="stylesheet" href="/resources/css/popups.css">

<!-- The Modal -->
<div id="experience-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<div class="top-header">
  		<div class="top-title">
  			<a class="text-title">Experiencia</a>
  		</div>
  		<button id="close-experience" class="close-button">&times;</button>
	</div>
  	<div class="profile-card">
  		<div class="form-group full-form">
		    <label for="company_name">Empresa <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="company_name" placeholder="P. ej. Microsoft" required>
  		</div>
  		<div class="form-group full-form">
		    <label for="beginYear">Ano de inicio <a class="asterisc">*</a></label>
  			<input type="number" class="form-control" id="beginYear" placeholder="Ano" required>
  		</div>
		<div class="form-group full-form">
		    <label for="title">Titulo <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="title" placeholder="P. ej. gerente" required>
  		</div>
	</div>
	<div class="bottom-footer">
		<button type="button" class="btn btn-primary store-button" id="store-experience">Guardar</button>
	</div>
  </div>
</div>

<script>
	//Get the modal
	var experience_modal = document.getElementById('experience-modal');
	
	// Get the button that opens the modal
	var update_experience = document.getElementById("experience-button");
	
	// Get the <span> element that closes the modal
	var close_experience = document.getElementById("close-experience");
	
	var store_experience = document.getElementById("store-experience")
	
	// When the user clicks on the button, open the modal 
	update_experience.onclick = function() {
	    experience_modal.style.display = "block";
	}
	
	// When the user clicks on <span> (x), close the modal
	close_experience.onclick = function() {
	    experience_modal.style.display = "none";
	}
	
	store_experience.onclick = function() {
		
		var experience_obj = {};

		var inputCompany = document.getElementById('company_name');
		var inputYear = document.getElementById('beginYear');
		var inputPosition = document.getElementById('title');
		
		experience_obj["company_Name"] = inputCompany.value;
		experience_obj["beginYear"] = inputYear.value;
		experience_obj["title"] = inputPosition.value;
		
		var experience_json = JSON.stringify(experience_obj);
		console.log(experience_json);
		
		$.ajax({
			  url:"/users/addJobExperience",
			  type:"POST",
			  data:experience_json,
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function(){
					$.post("/users/addJobExperience ", json, function(data, status) {
						alert("Data: " + data + "\nStatus: " + status);
					});
					window.location.href = "/user";
			  }
			})
		experience_modal.style.display = "none";
	}
</script>
