<link rel="stylesheet" href="/resources/css/popups.css">

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<div class="top-header">
  		<div class="top-title">
  			<a class="text-title">Editar presentación</a>
  		</div>
  		<button class="close-button" onclick="closeProfile()">&times;</button>
	</div>
  	<div class="profile-card">
		<div class="card-img-block">
			<img class="img-fluid" src="https://previews.123rf.com/images/foodandmore/foodandmore1403/foodandmore140300067/26700838-frontera-n%C3%A1utica-delicado-con-la-red-de-pesca-conchas-de-mar-y-estrellas-de-mar-sobre-un-fondo-de-colo.jpg" alt="Card image cap">
		</div>
		<div class="card-body pt-5">
			<img alt="profile-image" class="profile" th:if="${appUser != null && appUser.photoUser != null}" th:src="${appUser.photoUser}">
 			<img alt="profile-image" class="profile" th:unless="${appUser != null && appUser.photoUser != null}" th:src="@{/resources/images/img_avatar.png}">
		</div>
		<div class="name-box">
			<div class="form-group half-form-left">
			    <label for="name">Nombre <a class="asterisc">*</a></label>
			    <input type="text" class="form-control" name="name" id="name" th:if="${appUser != null}" th:value="${appUser.firstName}" required>
	  			<input type="text" class="form-control" id="name" th:unless="${appUser != null}" placeholder="Nombre" required>
	  		</div>
	  		<div class="form-group half-form-right">
			    <label for="surname">Apellidos <a class="asterisc">*</a></label>
			    <input type="text" class="form-control" name="surname" id="surname" th:if="${appUser != null}" th:value="${appUser.secondName}" required>
	  			<input type="text" class="form-control" id="surname" th:unless="${appUser != null}" placeholder="Apellidos" required>
	  		</div>
		</div>
		<div th:if="${appUser != null && !appUser.studies_list.isEmpty()}" class="full-form">
			<label>Estudios</label>
			<select class="form-control form-control-lg  selector-form">
				<th:block th:object="${appUser}">
					<option th:each="studies: *{studies_list}" th:text="${studies.title} + ' en ' + ${studies.university}" th:selected="${studies == appUser.studies_list.get(appUser.studies_list.size()-1)}"></option>
				</th:block>
			</select>
		</div>
		<div class="right-button">
			<button type="button" class="btn btn-link" onclick="showEducation()">Anadir nueva educacion</button>
		</div>
		<div th:if="${appUser != null && !appUser.experiences.isEmpty()}" class="full-form">
			<label>Experiencias</label>
			<select class="form-control form-control-lg selector-form">
				<th:block th:object="${appUser}">
					<option th:each="experience: *{experiences}" th:text="${experience.title} + ' en ' + ${experience.company_Name}" th:selected="${experience == appUser.experiences.get(appUser.experiences.size()-1)}"></option>
				</th:block>
			</select>
		</div>
		<div class="right-button">
			<button type="button" class="btn btn-link" onclick="showExperience()">Anadir nuevo puesto</button>
		</div>
  		<div class="region-box">
			<div class="form-group half-form-left">
			    <label for="name">País/Región</label>
			    <input type="text" class="form-control" id="country" th:if="${appUser != null}" th:value="${appUser.country}">
	  			<input type="text" class="form-control" id="country" th:unless="${appUser != null}" placeholder="Pais">
	  		</div>
	  		<div class="form-group half-form-right">
			    <label for="surname">Código Postal</label>
			    <input type="text" class="form-control" id="postalCode" th:if="${appUser != null}" th:value="${appUser.postalCode}">
	  			<input type="text" class="form-control" id="postalCode" th:unless="${appUser != null}" placeholder="Codigo Postal">
	  		</div>
		</div>
	</div>
	<div class="bottom-footer">
		<button type="button" class="btn btn-primary store-button" onclick="storeProfile()">Guardar</button>
	</div>
  </div>
</div>

<script>
	//Get the modal
	var profile_modal = document.getElementById('myModal');
	
	// When the user clicks on the button, open the modal 
	function showProfile() {
	    profile_modal.style.display = "block";
	}
	
	// When the user clicks on <span> (x), close the modal
	function closeProfile() {
	    profile_modal.style.display = "none";
	}
	
	function storeProfile() {
		
		var profile_obj = {};
		
		var inputName = document.getElementById('name');
		var inputSurname = document.getElementById('surname');
		var inputCountry = document.getElementById('country');
		var inputPostalCode = document.getElementById('postalCode');
		
		profile_obj["firstName"] = inputName.value;
		profile_obj["secondName"] = inputSurname.value;
		profile_obj["country"] = inputCountry.value;
		profile_obj["postalCode"] = inputPostalCode.value;
		
		var profile_json = JSON.stringify(profile_obj);
		console.log(profile_json);
		
		$.ajax({
			  url:"/users/updatePersonalInfo",
			  type:"POST",
			  data:profile_json,
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function(){
					$.post("/users/updatePersonalInfo ", profile_json, function(data, status) {
						alert("Data: " + data + "\nStatus: " + status);
					});
					profile_modal.style.display = "none";
					location.reload();
			  }
			})
	}
</script>
