<link rel="stylesheet" href="/resources/css/popups.css">

<!-- The Modal -->
<div id="update-experience-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  	<div class="top-header">
  		<div class="top-title">
  			<a class="text-title">Experiencia</a>
  		</div>
  		<button class="close-button" onclick="closeUpdateExperience()">&times;</button>
	</div>
  	<div class="profile-card">
  		<div class="form-group full-form">
		    <label for="update_company_name">Empresa <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="update_company_name" placeholder="P. ej. Microsoft" required>
  		</div>
  		<div class="form-group full-form">
		    <label for="update_beginYear">Ano de inicio <a class="asterisc">*</a></label>
  			<input type="number" class="form-control" id="update_beginYear" placeholder="Ano" required>
  		</div>
		<div class="form-group full-form">
		    <label for="update_title">Titulo <a class="asterisc">*</a></label>
  			<input type="text" class="form-control" id="update_title" placeholder="P. ej. gerente" required>
  		</div>
	</div>
	<div class="bottom-footer">
		<button type="button" class="btn btn-primary store-button" onclick="storeUpdateExperience()">Guardar</button>
	</div>
  </div>
</div>

<script th:inline="javascript">
	//Get the modal
	var update_experience_modal = document.getElementById('update-experience-modal');
	var experience_index = -1;

    var experience_list = [[${appUser.experiences}]];
    
	// When the user clicks on the button, open the modal 
	function closeUpdateExperience() {
	    update_experience_modal.style.display = "none";
	}
	
	function updateExperience(index) {
		experience_index = index;
		var curr_experience = experience_list[index];
		
		document.getElementById('update_company_name').value = curr_experience.company_Name;
		document.getElementById('update_beginYear').value = curr_experience.beginYear;
		document.getElementById('update_title').value = curr_experience.title;
		
		update_experience_modal.style.display = "block";
	}
	
	function storeUpdateExperience() {
		var update_experience_obj = {};

		var inputCompany = document.getElementById('update_company_name');
		var inputYear = document.getElementById('update_beginYear');
		var inputPosition = document.getElementById('update_title');
		
		update_experience_obj["company_Name"] = inputCompany.value;
		update_experience_obj["beginYear"] = inputYear.value;
		update_experience_obj["title"] = inputPosition.value;
		update_experience_obj["index"] = experience_index;
		
		var update_experience_json = JSON.stringify(update_experience_obj);
		console.log(update_experience_json);
		
		$.ajax({
			  url:"/users/updateJobExperience",
			  type:"POST",
			  data:update_experience_json,
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function(){
					$.post("/users/updateJobExperience ", json, function(data, status) {
						alert("Data: " + data + "\nStatus: " + status);
					});
					window.location.href = "/user";
			  }
			})
		experience_modal.style.display = "none";
	}
</script>
