<html xmlns:th="http://www.thymeleaf.org">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="/resources/css/user.css">
   </head>

	<body>
		<header>
			<th:block th:include="_navbar"></th:block>
        </header>
        
        <div class="container container1">
            <div class="container container2">
                <div class="container profile-box">
                    <div class="card profile-card-4">
                        <div class="card-img-block-base">
                            <img class="image-portada" src="https://previews.123rf.com/images/foodandmore/foodandmore1403/foodandmore140300067/26700838-frontera-n%C3%A1utica-delicado-con-la-red-de-pesca-conchas-de-mar-y-estrellas-de-mar-sobre-un-fondo-de-colo.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body-base pt-5">
                            <img src="https://randomuser.me/api/portraits/women/14.jpg" class="profile-base"/>
                        </div> 
                        <div class="row">
                            <div class = "col-sm-4 card-body3">
                                <h5 th:if="${appUser != null}" th:utext="${appUser.firstName} + ' ' + ${appUser.secondName}"></h5>
                                <p>Enginyeria Informatica</p>
                                <p>Badalona</p>
                            </div>
                            <div class = "col-sm-4 card-body4">
                                <button id="update-button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <p>Everis</p>
                                <p>Universitat de Barcelona</p>
                            </div>
                        </div>  

                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="_profile_change"></th:block>
	</body>
</html>